# Local Terraform state files
*.tfstate
*.tfstate.*
crash.log
*.crash

# Terraform working directory
.terraform/
**/.terraform/

# Ignore packaged lambda zips
lambda/processor.zip

# Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# OS / editor files
.DS_Store
Thumbs.db
.vscode/